#message-box{
  padding: 20px 0px;
  background-color: rgb(111, 111, 111);
  vertical-align: bottom;
  min-height: 4.5em;
}

#message-text {
  font-size: 2em;
  margin: 0;
  color: rgb(196, 200, 0);
}
